## Desafío: Funciones y probabilidad básica - 12/06
Integrantes: 
- Yerko Carreño
- Javier Pilasi
- Daniel Flores
- Francisco Fernandez
- Máximo Oliva
- Rocío Ehijo

### Desafío 1: Generación de funciones

In [3]:
import pandas as pd
import numpy as np

df=pd.read_csv('worldcup2014.csv')

In [4]:
def media(x):
    """
    media: retorna la media de los elementos de la serie o arreglo
    
    Parámetro:
    x -> Serie    
    
    """
    sum=0
    for i in x:
        sum+=i
    med=sum/len(x)
    return med

def varianza(x):
    """
    varianza: retorna la varianza de la población, calculada como la sumatoria del cuadrado de la diferencia entre el valor i y el promedio, sobre la cantidad de datos
    
    Parámetro:
    x -> Serie
    
    """
    num=0
    for i in x:
        num+=(i-media(x))**2
    var=num/(len(x))

    return var

### Desafío 2:

In [5]:
# Calculos media
media_goles_favor = media(df["goles_favor"])
media_goles_contra = media(df["goles_contra"])
media_puntos = media(df["puntos"])

# Calculos varianza
varianza_goles_favor = varianza(df["goles_favor"])
varianza_goles_contra = varianza(df["goles_contra"])
varianza_puntos = varianza(df["puntos"])

print("Media goles a favor y varianza: {} - {}".format(media_goles_favor, varianza_goles_favor))
print("Media goles en contra y varianza: {} - {}".format(media_goles_contra, varianza_goles_contra))
print("Media puntos y varianza: {} - {}".format(media_puntos, varianza_puntos))

Media goles a favor y varianza: 4.25 - 5.1875
Media goles en contra y varianza: 4.25 - 4.8125
Media puntos y varianza: 4.21875 - 8.0458984375

### Desafío 2

In [7]:
def funcion(x,group,var):
    distinct_groupby=list(x[group].unique())
    store_mean = []
    store_std = []
    for i in distinct_groupby:
        df_group=df[df[group]==i]
        store_mean.append(media(df_group[var]))
        store_std.append(varianza(df_group[var]))
    tmp=pd.DataFrame({group: distinct_groupby,
                    'media': store_mean,
                    'varianza': store_std})
    return tmp

In [8]:
funcion(df,'continent','goles_favor')

      continent     media  varianza
0  southamerica  5.666667  3.888889
1  northamerica  3.250000  1.687500
2        europe  4.769231  6.331361
3        africa  3.600000  2.640000
4          asia  2.250000  0.687500

In [9]:
funcion(df,'continent','goles_contra')

      continent     media  varianza
0  southamerica  2.833333  0.472222
1  northamerica  3.500000  8.250000
2        europe  4.000000  3.538462
3        africa  5.600000  3.840000
4          asia  6.250000  3.187500

In [10]:
funcion(df,'continent','puntos')

      continent     media  varianza
0  southamerica  6.833333  3.138889
1  northamerica  4.500000  8.250000
2        europe  4.692308  6.366864
3        africa  2.400000  2.640000
4          asia  0.750000  0.187500

En promedio, Sudamérica reporta una mayor cantidad de goles a favor, Asia una mayor cantidad de goles en contra, y Sudamérica tiene más puntos.

### Desafío 3: Simulaciones

In [21]:
np.random.seed(2)
def generate_pet():
    masc=['perro','gato']
    pet=np.random.choice(masc)
    return pet

In [22]:
generate_pet()
generate_pet()

'gato'

In [23]:
lista20=[]
for i in range(20):
    lista20.append(generate_pet())

dfpet=pd.Series(lista20)
dfpet.value_counts('%')

gato     0.55
perro    0.45
dtype: float64

La probabilidad de elegir un perro al azar es de 0.45, y un gato de 0.45. El método np.random.seed() setea el método random de acuerdo al parámetro entregado, manteniendo constantes los valores aleatorios cada vez que se utiliza el método random.

### Desafío 4: Función simuladora

In [53]:
def simulate_pets_prob(nro):
    np.random.seed(1)
    young_pet=[]
    old_pet=[]
    
    perro_o=0
    perro_viejo=0
    perro_y=0
    
    for i in range(nro):
        young_pet.append(generate_pet())
        old_pet.append(generate_pet())
        
        if young_pet[i]=='perro' or old_pet[i]=='perro':
            perro_o += 1
        if old_pet[i]=='perro':
            perro_viejo += 1
        if young_pet[i]=='perro' and old_pet[i]=='perro':
            perro_y += 1

    return young_pet,old_pet, perro_o, perro_viejo, perro_y

In [54]:
[young_pet, old_pet, perro_o, perro_viejo, perro_y]= (simulate_pets_prob(10))

print("Número de situaciones donde:")
print("- Por lo menos uno de los animales es un perro: {}".format(perro_o))
print("- Por lo menos uno de los animales es un perro viejo: {}".format(perro_viejo))
print("- Los dos animales sean perros: {}".format(perro_y))

Número de situaciones donde:
- Por lo menos uno de los animales es un perro: 7
- Por lo menos uno de los animales es un perro viejo: 4
- Los dos animales sean perros: 2

- De los tres escenarios, ¿Cuál es el menos probable? __Resp: El caso donde los dos animales sean perros__ ¿Cuál es el más probable? __Resp: El caso donde por lo menos uno de los animales es un perro__