## Desafío - Calculando probabilidades
#### Integrantes: Javier Pilasi, Daniel Flores, Francisco Fernandez, Máximo Oliva, Rocío Ehijo

### Desafío 1: Lectura de archivos

In [55]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
df=pd.read_csv('worldcup2014.csv')

In [4]:
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

### Desafío 2

In [6]:
df['continent'].value_counts('%')

europe          0.40625
southamerica    0.18750
africa          0.15625
asia            0.12500
northamerica    0.12500
Name: continent, dtype: float64

El continente con mayor presencia en la muestra es Europa, con un 40,6% de países.

In [7]:
df['continent'].value_counts('%').get('asia')

0.125

La probabilidad de elegir un equipo asiático al azar es de 12,5%

In [8]:
df['continent'].value_counts('%').get('africa')

0.15625

La probabilidad de elegir un equipo africano al azar es de 15,6%

### Desafío 3

In [14]:
df_europe=df[df['continent']=='europe']
df_southamerica=df[df['continent']=='southamerica']
df_africa=df[df['continent']=='africa']
df_asia=df[df['continent']=='asia']
df_northamerica=df[df['continent']=='northamerica']

### Desafío 4

In [29]:
continents=(df_europe,df_southamerica,df_africa,df_asia,df_northamerica)

In [89]:
for i in continents:
    prob_clasif=i['clasificado'].value_counts('%').get(1)
    continente=i.iat[1,1]
    print("La probabilidad de pasar a segunda ronda de {} es de {}".format(continente,prob_clasif))

La probabilidad de pasar a segunda ronda de europe es de 0.46153846153846156
La probabilidad de pasar a segunda ronda de southamerica es de 0.8333333333333334
La probabilidad de pasar a segunda ronda de africa es de 0.4
La probabilidad de pasar a segunda ronda de asia es de None
La probabilidad de pasar a segunda ronda de northamerica es de 0.75

Sudamérica y Norteamérica son los continentes que tuvieron mayor probabilidad de clasificación

La probabilidad de no clasificar de un país europeo es de 54% (100% - 46%)

### Desafío 5

In [65]:
np.where(df_europe['juegos_ganados']<1,0,1)

array([1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0])

In [86]:
for i in continents:
    nombre=i.iat[1,1]
    ganados=pd.Series(np.where(i['juegos_ganados']<1,0,1)).value_counts('%')
    print(nombre,"\n",ganados)

europe
 1    0.846154
0    0.153846
dtype: float64
southamerica
 1    1.0
dtype: float64
africa
 1    0.6
0    0.4
dtype: float64
asia
 0    1.0
dtype: float64
northamerica
 1    0.75
0    0.25
dtype: float64

Sudamérica tuvo una mayor probabilidad de ganar juegos (100%)

Africa fue el continente que presentó un nivel más similar entre juegos ganados y perdidos.

Asia tiene una mayor probabilidad de perder